@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<DONATE_TO_SAVE.Models.User>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
</head>

<body>
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About us
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="/images/111.png" alt="">
            </div>
            <div class="col-md-6">
                <h2>YAROH and Donate To Save</h2>
                <p><strong>Youth - A Ray of Hope (YAROH)</strong> and <strong>Donate to Save</strong> is a group of enthusiastic students and professionals working in Education, Social Empowerment 
                sectors fighting poverty to create opportunities for unprivileged children so that they can enjoy their right to education and one day become the future of this state. </p>
                <p>YAROH and Donate to Save are a <strong>non-political, non-ethnic and non-profit</strong> organization which provides a platform to the Youth,  
                people of all ages and walks of life to work together to bring about positive change in the society. </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h2>Our motive </h2>
                <p>
                    We have a simple motive, <strong> ‘A better tomorrow’.</strong> 
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h2>Mission</h2>
                <p>
                    Our mission is to uplift our society through awareness, education and social empowerment. Education being our top priority, we are striving to create an environment to provide 
                    opportunities that inspire underprivileged children towards education and inculcate in them a vision for their productive future lives. Also our focus extends to fight poverty, 
                    initiatives that help save our environment and collaborate with Welfare institutions e.g; Fountain House Lahore & others working in different fields.
                    Our focused mission and goals are to:
                </p>
                <p><strong>-</strong> Educate and empower the society.</p>
                <p><strong>-</strong> Create awareness among youth, about social issues. </p>
                <p><strong>-</strong> Enhance the spirit for volunteerism in the youth. </p>
                <p><strong>-</strong> Gather maximum organizations on a single platform. </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h2>History</h2>
                <p>
                    Founded in Lahore <strong>(2010),</strong> <strong>YAROH,</strong> and <strong>Donate to Save,</strong> Founded in Lahore <strong>(2013)</strong> started as a group of few college 
                    students ready to give back something to their country, a country which is providing them enough opportunities
                    to set their lives on progressive road. First initiate that YAROH took was launching a program to minimize drop-outs and improve academic performance of students who were at risk
                    of failing or quitting school. Today, We are working on multi-dimensional projects in the Sectors of Education, Social Empowerment and Awareness.
                </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Admins</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/images/zaman.jpg" alt="">
                    <div class="caption">
                        <h3>Muhammad Zaman<br>
                            <small>Student of PUCIT</small>
                        </h3>
                        <p>I want to serve my country. I want change in the society. I will try my best to change the fate
                        of poor people by giving them honor, love, attention, respect and most importantly DonationsS</p>
                        <ul class="list-inline">
                            <li><a href="SAA"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/images/farooq.JPG" alt="">
                    <div class="caption">
                        <h3>
                            Muhammad Farooq Farooqi<br>
                            <small>Student of PUCIT</small>
                        </h3>
                        <p>
                            I want to serve my country. I want change in the society. I will try my best to change the fate
                            of poor people by giving them honor, love, attention, respect and most importantly DonationsS
                        </p>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/FarooqxAmin"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/images/aquib.JPG" alt="">
                    <div class="caption">
                        <h3>
                            Muhammad Aquib Ikram<br>
                            <small>Student of PUCIT</small>
                        </h3>
                        <p>
                            I want to serve my country. I want change in the society. I will try my best to change the fate
                            of poor people by giving them honor, love, attention, respect and most importantly DonationsS
                        </p>
                        <ul class="list-inline">
                            <li>
                                <a href=""><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Volunteers</h2>
            </div>
            @foreach(var u in Model)
            {
                if(u.User_Type == "volunteer")
                {
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <img class="img-responsive customer-img" src="@u.Image" alt="">
                    </div>
                }
            }
        </div>
        <!-- /.row -->

        <hr>
    </div>
</body>
</html>
